p {
  font-family: 'Open Sans', sans-serif;
}

.port-folio {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

.wrap-video{
  position:relative;
}

.wrap-video video{
  width: 100%;
  height:100%;
  width: auto;
  height: auto;
}

.wrap-video .text{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /*上下左右中央寄せ*/
  text-align:center;
}

.wrap-video .text p{
  font-size:40px;
  font-weight:bold;
  color:white;
}

.wrap-video .text .headline{
  font-size:20px;
}