#nav a{
    position: relative;
    display: inline-block;
    padding: 200px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #333;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.port-folio {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  /*font-size: 30px;*/
}

.wrap-video{
  display: flex;
  position:relative;
  /*height: 90vh;*/
}

.wrap-video video{
  /*width: 100%;*/
  /*height:100%;*/
  /*width: auto;*/
  /*height: auto;*/
}

.wrap-video .text{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  /*-webkit-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -50%); /*上下左右中央寄せ*/
  z-index: 100;
  text-align:center;
  color: white;
}

.wrap-video .text p{
  font-size:40px;
  font-weight:bold;
  color:white;
}

.wrap-video .text .headline{
  font-size:20px;
}

.img-wrap {
  width: 40%;!important;
  height: 40%;!important;
}

.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s, .3s, .3s, .8s;
  transition-timing-function: ease-in-out;
}

.btn-primary, .btn-primary:active, .btn-primary.active {
  background-color: #a38dfd;
  border-color: #a38dfd;
  /*color: #ffffff !important;*/
}


#about .section-image img {
  margin: 0 auto;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  220px;       /* ※縦横を同値に */
  height: 220px;
  border: 2px solid #a38dfd; /* 枠線を付加 */
  box-shadow: 0 0 25px 0 #d9d9d9;
}

.section {
  padding: 100px;
}

.section inner {
  margin: 0 auto;
  padding: 0 40px;
}

.section-title-area {
  margin-bottom: 38px;
  text-align: center;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
  font-family: 'Open Sans', sans-serif;
}

.section-intro {
  margin-bottom: 40px;
}
#about .section-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about .section-image {
  flex-basis: 20%;
  margin: 0 auto;
}

#about .section-desc {
  flex-basis: 62%;
}

img, video, object {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: none;
}

#contact ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

#contact li {
  list-style: none;
  padding: 0 30px;
}


